<?xml version='1.0' encoding='utf-8'?>
<plugin id="io.oumind.cordova.pingxx" version="0.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>pingxx</name>
    <description>cordova plugin for pingxx</description>
    <author>oumind</author>
    <keywords>pingxx,pay</keywords>
    <license>Apache 2.0 License</license>

    <preference name="URL_SCHEME" />

    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <asset src="www/pingxx.js" target="js/pingxx.js"/>

    <js-module src="www/pingxx.js" name="pingxx">
        <clobbers target="pingxx" />
    </js-module>

    <platform name="ios">
        <!-- framework -->
        <framework src="CFNetwork.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="Security.framework" />
        <framework src="libc++.dylib" />
        <framework src="libz.dylib" />
        <framework src="libsqlite3.0.dylib" />

        <!-- Channels -->
        <!-- Alipay -->
        <resource-file src="libs/PingxxLib/Channels/Alipay/AlipaySDK.bundle"/>
        <framework src="libs/PingxxLib/Channels/Alipay/AlipaySDK.framework" custom="true"/>
        <source-file src="libs/PingxxLib/Channels/Alipay/libpingpp+alipay.a" framework="true"/>
        <!-- wx -->
        <source-file src="libs/PingxxLib/Channels/Wx/libpingpp+wx.a" framework="true"/>
        <source-file src="libs/PingxxLib/Channels/Wx/libWeChatSDK.a" framework="true"/>

        <!-- pingxx -->
        <resource-file src="libs/PingxxLib/Pingpp.bundle"/>
        <source-file src="libs/PingxxLib/libpingpp.a" framework="true"/>
        <header-file src="libs/PingxxLib/Pingpp.h"/>

        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>$URL_SCHEME</string>
                    </array>
                </dict>
            </array>
        </config-file>

        <config-file target="config.xml" parent="/widget">
            <feature name="Pingxx">
                <param name="ios-package" value="OUMPingxx"/>
            </feature>
        </config-file>

        <header-file src="src/ios/OUMPingxx.h" target-dir="PingxxPlugin"/>
        <source-file src="src/ios/OUMPingxx.m" target-dir="PingxxPlugin"/>
    </platform>
</plugin>
